Web.Core/bin
Web.Core/obj
.paket/paket.exe
packages
Prime.Core.Tests/bin
Prime.Core.Tests/obj
Prime.Core/bin
Prime.Core/obj
.idea/**/workspace.xml
Bench/bin
Bench/obj
BenchmarkDotNet.Artifacts.zip
Bench/BenchmarkDotNet.Artifacts
