<form name="form" ng-submit="calc(e)">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       autofocus="autofocus"
                       maxlength="1000"
                       placeholder="Type a number or expression"
                       autocomplete="off"
                       autocorrect="off"
                       ng-model="e"
                       required />
                <span class="input-group-btn">
                    <button class="btn btn-primary">Is Prime Number?</button>
                </span>
            </div>
        </div>
    </div>
</form>
<div ng-switch="isPrime">
    <span ng-switch-when="true" class="label label-primary">{{s}} is prime!</span>
    <span ng-switch-when="false" class="label label-primary">{{s}} is not prime.</span>
    <span ng-switch-default></span>
</div>